{% extends 'base.html' %}

{% block content %}
  <h1>{{ course.title }}</h1>
  {% if course.thumbnail %}
    <img src="{{ course.thumbnail.url }}" alt="{{ course.title }}" style="max-width: 400px;" />
  {% endif %}
  <p>{{ course.description }}</p>
  <p>Instructor: {{ course.instructor.username }}</p>

  {% if user.is_authenticated %}
    {% if user == course.instructor %}
      <a href="{% url 'course_update' course.pk %}">Edit Course</a>
      <a href="{% url 'course_delete' course.pk %}">Delete Course</a>
      {% if user == course.instructor %}
        <a href="{% url 'lesson_create' course.pk %}">Add New Lesson</a>
      {% endif %}
    {% elif user in course.students.all %}
      {% if course.is_completed %}
        <p>You completed this course on {{ course.completed_at|date:'F d, Y, h:i:s A' }}</p>
      {% endif %}
    {% else %}
      <a href="{% url 'enroll_course' course.pk %}">Enroll</a>
    {% endif %}
  {% endif %}

  <h2>Lessons</h2>
  <ul>
    {% for lesson in course.lessons.all %}
      <li>
        <a href="{% url 'lesson_detail' course.pk lesson.pk %}">{{ lesson.title }}</a>
        {% if user == course.instructor %}
          <a href="{% url 'lesson_update' course.pk lesson.pk %}">Edit</a>
          <a href="{% url 'lesson_delete' course.pk lesson.pk %}">Delete</a>
        {% elif user in course.students.all %}
          {% for completed_lesson in completed_lessons %}
            {% if completed_lesson.lesson == lesson %}
              (Completed on {{ completed_lesson.completed_at|date:'F d, Y, h:i:s A' }})
            {% endif %}
          {% endfor %}
        {% endif %}
      </li>
    {% empty %}
      <li>No lessons available for this course.</li>
    {% endfor %}
  </ul>
{% endblock %}
